.parts {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

.color3 {
    background-color: #60c5ba;
}

.color4 {
    background-color: #feee7d;
}

.color5 {
    background-color: #E71D36;
}