<div class="parts container">
    <mat-list>
        <mat-list-item *ngFor="let item of items">{{ item }}</mat-list-item>
    </mat-list>
    <mat-divider class="number" [vertical]="true" [inset]="true"></mat-divider>
    <mat-list class="max-width">
        <mat-list-item class="max-width" *ngFor="let line of chips; let i = index" (dragover)="dragoverE($event, i)" (drop)="dropE($event)">
            <mat-chip *ngFor="let chip of line; let j = index" draggable="true" (dragstart)="dragstartE($event, i, j)" (dragend)="dragendE($event)">{{ chip }}
                <mat-icon matChipRemove *ngIf="removable"></mat-icon>
            </mat-chip>
        </mat-list-item>
    </mat-list>
</div>