<div class="parts container">
    <mat-list>
        <mat-list-item *ngFor="let item of items">{{ item }}</mat-list-item>
    </mat-list>
    <mat-divider class="number" [vertical]="true" [inset]="true"></mat-divider>
    <mat-list>
        <mat-list-item>
            <mat-chip>text1<mat-icon matChipRemove  *ngIf="removable">cancel</mat-icon></mat-chip>
            <mat-chip>text2</mat-chip>
            <mat-chip>text3</mat-chip>
            <mat-chip>text4</mat-chip>
            <mat-chip>text5</mat-chip>
        </mat-list-item>
    </mat-list>
</div>