.container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
}

.child-container {
    display: flex;
    flex-direction: row;
}

.upper {
    height: 70%;
}

.bottom {
    height: 30%;
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}

.item {
    padding: 10px;
}

.max-width {
    width: 100%;
}

.max-height {
    height: 100%;
}

.divider-width {
    width: 10px;
}