<mat-card class="container">
  <div class="child-container upper max-width">
    <div class="left item max-height">
      <app-editor></app-editor>
    </div>
    <br>
    <mat-divider [vertical]="true" [inset]="true"></mat-divider>
    <br>
    <div class="right item max-height">
      <app-item-list></app-item-list>
    </div>
  </div>
  <br>
  <mat-divider [inset]="true"></mat-divider>
  <br>
  <div class="child-container bottom max-width">
    <div class="left item max-height">
      <app-output></app-output>
    </div>
    <br>
    <mat-divider [vertical]="true" [inset]="true"></mat-divider>
    <br>
    <div class="right item max-height">
      <app-chip-factory></app-chip-factory>
    </div>
  </div>
</mat-card>