<div class="tile">
  <mat-chip-list class="flewap" (dragover)="dragoverE()" (drop)="dropE()">
    <mat-chip class="list-item" *ngFor="let item of items" draggable="true" [style.width]="wrap">{{ item }}</mat-chip>
  </mat-chip-list>
  <br>
  <mat-divider [inset]="true"></mat-divider>
  <br>
  <mat-chip-list class="flewap scroll" (dragover)="dragoverE()" (drop)="dropE()">
    <mat-chip class="list-item" *ngFor="let item of madeItems; let i of index"
              draggable="true" (click)="selectedElement(i)">{{ item }}</mat-chip>
  </mat-chip-list>
  <br>
  <div class="bottoms max-width">
    <mat-divider [inset]="true"></mat-divider>
    <div class="container column-container">
      <mat-form-field>
        <input matInput placeholder="element name" [(ngModel)]="newElementName">
      </mat-form-field>
      <button mat-raised-button class="max-width color1" (click)="createElement()">作成</button>
      <button mat-raised-button class="max-width color2" (click)="deleteElement()">削除</button>
    </div>
  </div>
</div>